:root {
  --main-red-0: #bb1919;
  --main-red-1: #f46565;
  --main-red-2: #db3939;
  --main-red-3: #990505;
  --main-red-4: #700000;
  --main-yellow-0: #bb6219;
  --main-yellow-1: #f4a665;
  --main-yellow-2: #db8239;
  --main-yellow-3: #994805;
  --main-yellow-4: #703300;
  --main-blue-0: #0f7070;
  --main-blue-1: #3d9393;
  --main-blue-2: #228383;
  --main-blue-3: #035c5c;
  --main-blue-4: #004343;
  --main-green-0: #149614;
  --main-green-1: #51c351;
  --main-green-2: #2eaf2e;
  --main-green-3: #047b04;
  --main-green-4: #005a00;
  --main-red: var(--main-red-0);
  --main-red-tr: #bb191940;
  --btn-grey: #618eab;
  --green: #06ba39;
  --green-tr: #06ba3940;
  --blue: #0080ff;
  --yellow: #f6d927;
  --yellow-tr: #f6d92740;
  --white: #ffffff;
  --dark-bgc: #1d1d1d;
  --dark-overlay-color: #1d1d1db0;
  --main-text-color: #3b3b3b;
  --light-text-color: #f2f2f2;
  --light-text-color-tr: #f2f2f240;
  --light-text-color-semitr: #f2f2f288;
  --color-tr: #00000000;
  --main-shadow: 0 0 6px #999999;
  --red-gradient: linear-gradient(90deg, var(--main-red) 0%, #7d1111 100%);
  --yellow-gradient: linear-gradient(90deg, #fff0a9 0%, #ffe052 100%);
  --yellow-gradient1: linear-gradient(90deg, #fff0a9 0%, var(--yellow) 100%);
  --text-shadow: 0 0 3px var(--dark-bgc);
  --text-shadow-light: 0 0 3px var(--light-text-color);
  --header-font-family: "Open Sans", sans-serif;
  --common-font-family: "Open Sans", sans-serif;
  --footer-font-family: -apple-system, "Open Sans", sans-serif;
  --common-font-size: 17px;
  --header-top-height: 58px;
  --section-padding: 1rem;
  --square-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65' %3E%3Crect x='0' y='0' width='65' height='65' fill='%2300000000'/%3E%3Cpath d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z' fill='%23f6d92710'/%3E%3Cpath d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z' fill='%2300000000'/%3E%3Cpath d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z' fill='%23f6d92740'/%3E%3Cpath d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z' fill='%23f6d92720'/%3E%3C/svg%3E");
  --square-bg-size: 260px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100vh; }

body {
  min-height: 100vh;
  min-width: 360px;
  margin: 0;
  font-family: var(--common-font-family);
  font-size: var(--common-font-size);
  line-height: 1.5em;
  background-color: var(--body-bg-color);
  color: var(--main-text-color); }

.wrapper {
  overflow: hidden;
  max-width: 480px;
  margin: 0 auto;
  border-left: 1px solid var(--light-text-color);
  border-right: 1px solid var(--light-text-color); }

.width-wrapper {
  width: calc(min(1280px, 100vw));
  min-width: 360px;
  height: 100%;
  margin: 0 auto; }

.accent-text {
  color: var(--main-red); }

.svg-icons {
  display: none; }

.lang-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }
  .lang-menu__item {
    margin-right: 6px; }
    .lang-menu__item a {
      display: block;
      color: var(--main-text-color);
      text-decoration: none;
      text-transform: uppercase;
      padding: 6px 7px 5px;
      border-radius: 4px;
      background-color: #ffffff9d; }

.link-btn {
  text-decoration: none;
  max-width: 320px;
  width: clamp(220px, 100%, 320px);
  height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  box-shadow: 0 0 8px -2px var(--btn-grey); }
  .link-btn[data-style="red"] {
    color: var(--light-text-color);
    border-color: var(--main-red);
    background-color: var(--main-red); }
  .link-btn[data-style="blue"] {
    color: var(--light-text-color);
    border-color: var(--blue);
    background-color: var(--blue); }
  .link-btn[data-style="black"] {
    color: var(--light-text-color);
    border-color: var(--light-text-color);
    background-color: var(--main-text-color); }
  .link-btn[data-style="tr-white"] {
    color: var(--light-text-color);
    border-color: var(--light-text-color);
    background-color: var(--light-text-color-tr); }
  .link-btn[data-style="brd-red"] {
    border-color: var(--main-red); }

.separator {
  width: 0;
  height: 0;
  box-shadow: var(--main-shadow);
  margin-block: calc(var(--section-padding) / 2);
  border-bottom: 2px solid var(--btn-grey); }
  .separator.separator--visible {
    width: 100%;
    transition: width 0.5s ease-in-out 0.3s; }

.header {
  position: relative;
  box-shadow: var(--main-shadow); }
  @media (min-width: 42em) {
    .header {
      --top-right-display: flex; } }
  .header .header-top {
    height: var(--header-top-height);
    color: var(--light-text-color);
    background-color: var(--main-red); }
    .header .header-top .header-top__block {
      display: flex;
      align-items: center;
      height: 100%; }
    .header .header-top__announce {
      padding: 0 var(--section-padding);
      overflow: hidden; }
      .header .header-top__announce .announce__list {
        margin: 0;
        padding: 0;
        list-style: none; }
      .header .header-top__announce .announce__item:not(:first-child) {
        display: none; }
    .header .header-top__account {
      display: var(--top-right-display, none);
      appearance: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-right: var(--section-padding);
      margin-left: auto; }
    .header .header-top__langs {
      display: var(--top-right-display, none); }
  @media (min-width: 52em) {
    .header {
      --toggler-display: none;
      --nav-visibility: visible;
      --desktop-border: none;
      --desktop-margin: none;
      --desktop-padding: none;
      --desktop-transform: none;
      --desktop-size: auto;
      --desktop-ul-display: flex;
      --desktop-position: static; } }
  .header .header-bottom .header-bottom__block {
    display: flex;
    justify-content: space-between;
    padding: 10px; }
  .header .header-bottom__logo {
    line-height: 0; }
  .header .header-bottom .header__nav-toggler {
    display: var(--toggler-display, block); }
    .header .header-bottom .header__nav-toggler button {
      display: block;
      appearance: none;
      background: var(--btn-grey);
      border: none;
      cursor: pointer;
      padding: 14px 12px;
      line-height: 0; }
    .header .header-bottom .header__nav-toggler svg {
      stroke: var(--light-text-color); }
  .header .header-bottom .header__nav {
    display: flex;
    flex-direction: column;
    visibility: var(--nav-visibility, hidden);
    position: var(--desktop-position, fixed);
    transform: var(--desktop-transform, translateX(100%));
    transition: var(--desktop-transform, transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.3s linear);
    top: var(--header-top-height);
    right: 0;
    width: var(--desktop-size, calc(min(22rem, 100vw)));
    height: var(--desktop-size, 100vh);
    padding: var(--desktop-padding, 0.6rem);
    background-color: var(--desktop-border, var(--light-text-color));
    box-shadow: var(--desktop-border, var(--nav-list-shadow, -5px 0 11px 0 #00000046)); }
    .header .header-bottom .header__nav-top {
      display: var(--toggler-display, flex);
      justify-content: space-between;
      align-items: center; }
    .header .header-bottom .header__nav-list {
      display: var(--desktop-ul-display, block);
      margin: var(--desktop-margin, 1rem 0 0);
      border-top: var(--desktop-border, 2px solid var(--btn-grey));
      padding: 0;
      list-style: none; }
    .header .header-bottom .header__nav-item > a {
      text-decoration: none;
      display: block;
      padding: 0.6em;
      color: inherit;
      transition: background-color 0.3s linear, color 0.3s linear;
      border-bottom: var(--desktop-border, 2px solid var(--btn-grey)); }
      .header .header-bottom .header__nav-item > a:hover, .header .header-bottom .header__nav-item > a:focus-visible {
        color: var(--main-red);
        background-color: var(--light-text-color); }
    .header .header-bottom .header__nav.header__nav--open {
      visibility: visible;
      transform: none; }

@media (min-width: 52em) {
  .main .main__content {
    --main-display: grid;
    --main-areas:
                "hdr1 hdr1 hdr1 .   "
                ".    img1 cont cont"
                "img2 img1 cont cont"
                "img2 .    btns .   "
                "img2 img3 btns img4"
                ".    img3 .    img4"; }
  .main .main__card {
    --card-flex-dir: column-reverse;
    --card-justify: flex-start;
    --margin-00: 0;
    --margin-03: -40px 0 0 -26px;
    --margin-04: -70px 0 20px 0;
    --card-ratio: auto; } }

.main .main__content {
  padding: var(--section-padding);
  display: var(--main-display, block);
  gap: calc(var(--section-padding) / 1);
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 2fr 2fr 3fr 3fr;
  grid-template-rows: auto 40px auto 80px 100px 40px;
  grid-template-areas: "hdr1 hdr1 hdr1 .   " ".    img1 cont cont" "img2 img1 cont cont" "img2 .    btns .   " "img2 img3 btns img4" ".    img3 .    img4"; }
  .main .main__content h1 {
    font-size: 3rem;
    color: var(--main-red-4);
    text-shadow: 16px 10px 8px var(--green-tr);
    grid-area: hdr1; }
  .main .main__content h2 {
    font-size: 2.2rem; }
  .main .main__content-text {
    grid-area: cont;
    max-width: 64ch; }
    .main .main__content-text p:nth-child(3) {
      padding-left: calc(var(--section-padding) * 1.2);
      border-left: var(--section-padding) solid var(--main-red-tr); }
  .main .main__content .main__btns {
    grid-area: btns;
    margin: 0;
    padding: 0;
    list-style: none; }
    .main .main__content .main__btns-item:not(:last-child) {
      margin-bottom: 10px; }
  .main .main__content .main__card {
    display: flex;
    flex-direction: var(--card-flex-dir, column);
    justify-content: var(--card-justify, space-between);
    width: 100%;
    max-width: 460px;
    aspect-ratio: var(--card-ratio, 21/9);
    margin-top: var(--margin-00, var(--section-padding));
    margin-inline: auto;
    padding: var(--section-padding);
    background-color: var(--green-tr);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    text-shadow: var(--text-shadow);
    font-size: 1.1rem;
    font-weight: 600; }
    .main .main__content .main__card-rect {
      width: 20px;
      height: 20px;
      background-color: var(--btn-grey);
      box-shadow: var(--main-shadow); }
      .main .main__content .main__card-rect[data-color="green"] {
        background-color: var(--green); }
      .main .main__content .main__card-rect[data-color="red"] {
        background-color: var(--main-red); }
      .main .main__content .main__card-rect[data-color="blue"] {
        background-color: var(--blue); }
      .main .main__content .main__card-rect[data-color="yellow"] {
        background-color: var(--yellow); }
  .main .main__content .main__card:nth-last-child(4) {
    grid-area: img1; }
  .main .main__content .main__card:nth-last-child(3) {
    grid-area: img2;
    background-position: 32%; }
  .main .main__content .main__card:nth-last-child(2) {
    grid-area: img3;
    margin: var(--margin-03, var(--section-padding) auto 0); }
  .main .main__content .main__card:last-child {
    grid-area: img4;
    margin: var(--margin-04, var(--section-padding) auto 0); }

.courses {
  padding: var(--section-padding); }
  .courses h2 {
    font-size: 1.6rem; }
  .courses h3 {
    font-size: 1.6rem; }
  .courses__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: var(--section-padding);
    margin-block: var(--section-padding); }
  .courses .courses__item {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    border: 2px solid var(--main-red);
    border-radius: 2px;
    background-color: var(--light-text-color); }
    .courses .courses__item-status {
      align-self: flex-end;
      padding: 3px 5px 2px;
      color: var(--light-text-color);
      background-color: var(--main-red);
      border-radius: 2px; }
    .courses .courses__item.courses__item--now {
      color: var(--light-text-color);
      background-color: var(--main-red); }
      .courses .courses__item.courses__item--now .courses__item-status {
        color: var(--main-text-color);
        background-color: var(--light-text-color); }
    .courses .courses__item > *:last-child {
      margin-top: auto; }
  .courses__final-text {
    width: calc(min(760px, 100%));
    margin-inline: auto;
    padding: var(--section-padding);
    background-color: var(--yellow-tr);
    border-radius: 4px; }
  .courses__final-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: var(--section-padding);
    gap: var(--section-padding); }
  .courses .main__content {
    padding: 1rem; }
    .courses .main__content h1 {
      font-size: 2rem; }
    .courses .main__content h2 {
      font-size: 1.6rem; }
    .courses .main__content .main__btns {
      margin: 0;
      padding: 0;
      list-style: none; }
      .courses .main__content .main__btns-item:not(:last-child) {
        margin-bottom: 10px; }
    .courses .main__content .main__cards {
      margin: 15px -1rem 0;
      padding: 0;
      list-style: none; }
      .courses .main__content .main__cards-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        aspect-ratio: 21/9;
        padding: 22px;
        background-color: #013926;
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        color: var(--white);
        text-shadow: 0 0 3px black;
        font-size: 1.1rem;
        font-weight: 600; }
      .courses .main__content .main__cards-item:not(:last-child) {
        margin-bottom: 10px; }
      .courses .main__content .main__cards-rect {
        width: 20px;
        height: 20px;
        background-color: var(--btn-grey); }
        .courses .main__content .main__cards-rect[data-color="green"] {
          background-color: var(--green); }
        .courses .main__content .main__cards-rect[data-color="red"] {
          background-color: var(--main-red); }
        .courses .main__content .main__cards-rect[data-color="blue"] {
          background-color: var(--blue); }
        .courses .main__content .main__cards-rect[data-color="yellow"] {
          background-color: var(--yellow); }

/* stylelint-disable no-invalid-position-at-import-rule */
@media (min-width: 40em) {
  .modules {
    --blocks-gap: var(--section-padding);
    --blocks-direction: row;
    --selector-direction: column;
    --selector-flex: 0 0 140px; } }

@media (min-width: 52em) {
  .modules {
    --display-decor: block; } }

.modules {
  padding: var(--section-padding); }
  .modules h2 {
    font-size: 1.6rem;
    padding: var(--section-padding); }
  .modules h3 {
    font-size: 1.6rem; }
  .modules__blocks {
    display: flex;
    flex-direction: var(--blocks-direction, column);
    gap: var(--blocks-gap, 0); }
  .modules__selector {
    display: flex;
    flex-direction: var(--selector-direction, row);
    gap: var(--blocks-gap, 0);
    flex: var(--selector-flex, 1); }
    .modules__selector-item {
      aspect-ratio: 1;
      flex: var(--selector-flex, 1 0 80px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 600;
      text-shadow: var(--text-shadow);
      cursor: pointer; }
      .modules__selector-item[data-color="red"] {
        color: var(--light-text-color);
        background-color: var(--main-red-tr); }
      .modules__selector-item[data-color="yellow"] {
        color: var(--yellow);
        background-color: var(--yellow-tr); }
      .modules__selector-item[data-color="green"] {
        color: var(--green);
        background-color: var(--green-tr); }
      .modules__selector-item.modules__selector-item--active[data-color="red"] {
        color: var(--light-text-color);
        background-color: var(--main-red); }
      .modules__selector-item.modules__selector-item--active[data-color="yellow"] {
        color: var(--light-text-color);
        background-color: var(--yellow); }
      .modules__selector-item.modules__selector-item--active[data-color="green"] {
        color: var(--light-text-color);
        background-color: var(--green); }
  .modules__item {
    flex: 1 0 0;
    display: none;
    padding: var(--section-padding);
    color: var(--light-text-color); }
    .modules__item.modules__item--active {
      display: block; }
    .modules__item[data-color="red"] {
      background-color: var(--main-red); }
    .modules__item[data-color="yellow"] {
      color: var(--main-text-color);
      background-color: var(--yellow); }
      .modules__item[data-color="yellow"] .modules__item-shifts,
      .modules__item[data-color="yellow"] .modules__item-content {
        border-color: var(--main-text-color); }
    .modules__item[data-color="green"] {
      background-color: var(--green); }
    .modules__item-shifts {
      margin: 0;
      padding: var(--section-padding) 0;
      list-style: none;
      border-top: 1px solid var(--light-text-color);
      border-bottom: 1px solid var(--light-text-color);
      display: flex;
      justify-content: space-around; }
    .modules__item-parts {
      margin: 0;
      padding: var(--section-padding) 0 var(--section-padding) 1em;
      list-style: square; }
    .modules__item-content {
      border-top: 1px solid var(--light-text-color);
      border-bottom: 1px solid var(--light-text-color); }
  .modules__decor {
    overflow: hidden;
    flex: 1 0 0;
    display: var(--display-decor, none);
    background: var(--main-blue-2);
    color: var(--light-text-color); }
    .modules__decor video {
      object-fit: cover;
      filter: blur(2px); }
  .modules__final-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: var(--section-padding) 0;
    gap: var(--section-padding); }

/* stylelint-disable no-invalid-position-at-import-rule */
.financing {
  padding: var(--section-padding); }
  .financing__top {
    display: flex;
    gap: var(--section-padding);
    flex-wrap: wrap;
    align-items: center; }
  .financing__warning {
    flex: 2 0 280px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-padding);
    padding: var(--section-padding);
    background-color: var(--yellow);
    border: 1px solid var(--main-text-color);
    border-radius: 6px; }
    .financing__warning-icon {
      flex: 0 0 80px;
      width: 80px;
      height: 80px;
      margin-inline: auto; }
      .financing__warning-icon svg {
        width: 100%;
        height: 100%; }
    .financing__warning-text {
      flex: 1 0 220px; }
    .financing__warning-main {
      color: var(--main-red);
      font-size: 1.1em; }
    .financing__warning-comment {
      margin-top: var(--section-padding); }
  .financing__btns {
    flex: 1 0 280px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-padding); }
  .financing__options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-padding);
    margin: 0;
    margin-top: var(--section-padding);
    padding: 0;
    list-style: none; }
  .financing__item {
    flex: 1 0 280px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: var(--section-padding);
    background-color: var(--main-red-tr); }
    .financing__item--green {
      background-color: var(--green-tr); }
    .financing__item--yellow {
      background-color: var(--yellow-tr); }
    .financing__item .financing__type {
      margin-inline-end: auto;
      margin-bottom: var(--section-padding);
      background-color: var(--light-text-color);
      border-radius: 2px;
      padding: calc(var(--section-padding) / 2) var(--section-padding);
      font-size: 1.1em; }
    .financing__item .financing__text {
      margin-bottom: var(--section-padding); }
    .financing__item .link-btn {
      margin-top: auto; }
  .financing__backoffice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: calc(var(--section-padding) * 2);
    row-gap: var(--section-padding);
    margin: 0;
    margin-top: var(--section-padding);
    padding: 0;
    list-style: none; }
    .financing__backoffice .financing__person {
      flex: 0 260px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: end;
      padding: calc(var(--section-padding) * 1.2) var(--section-padding);
      aspect-ratio: 1;
      border-radius: calc(var(--section-padding) * 1.5);
      box-shadow: var(--main-shadow);
      overflow: hidden;
      background-color: var(--green-tr); }
      .financing__backoffice .financing__person-photo {
        position: absolute;
        inset: 0 0 0 0; }
      .financing__backoffice .financing__person-name {
        padding-top: var(--section-padding);
        border-top: 1px solid var(--light-text-color-semitr);
        border-top: 1px solid var(--yellow-tr);
        z-index: 10; }

.start-now {
  display: flex;
  flex-wrap: wrap;
  gap: var(--section-padding);
  padding: var(--section-padding); }
  .start-now__cta-block {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    min-width: 280px;
    padding: var(--section-padding);
    color: var(--light-text-color);
    background: var(--red-gradient); }
    .start-now__cta-block > *:last-child {
      margin-top: auto; }
  .start-now h3 {
    font-size: 1.8em;
    font-weight: 400; }
  .start-now__reasons {
    flex: 2 0 0;
    padding: var(--section-padding);
    background: var(--yellow-gradient); }
    .start-now__reasons .start-now__symbol {
      font-size: 8em;
      margin-top: 3rem;
      color: var(--main-red); }
    .start-now__reasons .start-now__list {
      min-height: 200px;
      margin: 0;
      padding: 0; }
      .start-now__reasons .start-now__list .start-now__item {
        display: none;
        font-size: 1.25em; }
        .start-now__reasons .start-now__list .start-now__item.start-now__item--active {
          display: block; }
    .start-now__reasons .start-now__selectors {
      display: flex;
      gap: var(--section-padding);
      justify-content: center;
      margin: 0 auto; }
      .start-now__reasons .start-now__selectors .start-now__selector {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 2px;
        background-color: var(--white);
        box-shadow: var(--main-shadow);
        transition: background-color 0.5s, transform 0.5s;
        cursor: pointer; }
        .start-now__reasons .start-now__selectors .start-now__selector.start-now__selector--active {
          background-color: var(--main-red);
          transform: scale(1.1);
          rotate: 90deg;
          transition: rotate 0.6s; }

.job-opportunities {
  --num-box-size: 76px;
  padding: var(--section-padding); }
  .job-opportunities__top {
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-padding);
    align-items: baseline; }
    .job-opportunities__top h2 {
      font-size: 2.2em;
      flex: 1 1 340px; }
    .job-opportunities__top--text {
      flex: 3 1 340px; }
  .job-opportunities__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: 1fr;
    gap: var(--section-padding); }
  .job-opportunities__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    padding-bottom: var(--num-box-size);
    border: 1px solid var(--main-text-color);
    border-radius: 2px;
    color: var(--main-red); }
    .job-opportunities__item .link-btn {
      margin-top: auto; }
    .job-opportunities__item .job-opportunities__item-number {
      position: absolute;
      bottom: 0;
      left: 0;
      height: var(--num-box-size);
      width: var(--num-box-size);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-red);
      border-top-right-radius: 3px;
      font-size: 2em;
      color: var(--light-text-color); }
    .job-opportunities__item--blue {
      color: var(--blue); }
      .job-opportunities__item--blue .job-opportunities__item-number {
        background-color: var(--blue); }
    .job-opportunities__item--green {
      color: var(--green); }
      .job-opportunities__item--green .job-opportunities__item-number {
        background-color: var(--green); }
    .job-opportunities__item--grey {
      color: var(--btn-grey); }
      .job-opportunities__item--grey .job-opportunities__item-number {
        background-color: var(--btn-grey); }
    .job-opportunities__item .job-opportunities__item-bgpic {
      position: absolute;
      inset: 0 0 0 0;
      background-color: var(--btn-grey); }
      .job-opportunities__item .job-opportunities__item-bgpic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.team {
  --section-logo-size: 82px;
  padding: var(--section-padding); }
  .team__header {
    display: flex;
    gap: var(--section-padding); }
  .team__logo {
    width: var(--section-logo-size);
    height: var(--section-logo-size);
    flex-shrink: 0; }
    .team__logo svg {
      width: 100%;
      height: 100%; }
  .team__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: var(--section-padding);
    margin: 0;
    padding: 0;
    list-style: none; }

.person {
  position: relative;
  border: 2px solid var(--main-red);
  border-radius: 2px;
  background: var(--square-bg);
  background-size: var(--square-bg-size); }
  .person__photo {
    width: 116px;
    height: 116px;
    margin-top: calc(var(--section-padding) / 2);
    margin-left: calc(var(--section-padding)); }
    .person__photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .person__text {
    align-self: flex-end; }
    .person__text-name {
      font-size: 1.2em;
      line-height: 1.3;
      font-weight: 600; }
    .person__text-position {
      line-height: 1.4; }
  .person__info {
    display: flex;
    gap: var(--section-padding);
    width: 90%;
    margin-block: 10px var(--section-padding);
    margin-inline: auto;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0 0 6px #999999;
    border-radius: 8px; }
  .person__logo {
    width: 52px;
    height: 52px;
    overflow: hidden; }
    .person__logo svg {
      width: 100%;
      height: 100%; }
  .person__link {
    align-self: flex-end;
    margin-left: auto;
    width: 36px;
    height: 36px;
    overflow: hidden; }
    .person__link svg {
      fill: #0072b1; }

.person__moto {
  --border-width: 2px;
  --t-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-inline: auto 8px;
  margin-block: 8px var(--t-size);
  padding: 3px 5px;
  width: 160px;
  height: auto;
  background-color: var(--light-text-color);
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.3em;
  border: var(--border-width) solid var(--main-red);
  border-radius: 6px; }
  .person__moto::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 12%;
    right: auto;
    top: auto;
    bottom: calc(-1 * var(--t-size));
    border: calc(var(--t-size) / 2) solid transparent;
    border-left-color: var(--main-red);
    border-top-color: var(--main-red); }
  .person__moto::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(12% + var(--border-width));
    right: auto;
    top: auto;
    bottom: calc(-1 * (var(--t-size) - var(--border-width) * 2));
    border: calc(var(--t-size) / 2 - var(--border-width)) solid transparent;
    border-left-color: var(--light-text-color);
    border-top-color: var(--light-text-color); }

.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: var(--section-padding);
  padding: var(--section-padding); }
  .ctas .ctas__item {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    color: var(--light-text-color);
    background: var(--red-gradient);
    min-width: 280px;
    flex: 1 0 0; }
    .ctas .ctas__item:nth-child(odd) {
      flex-grow: 2; }
    .ctas .ctas__item.ctas__item--yellow {
      color: inherit;
      background: var(--yellow-gradient); }
    .ctas .ctas__item .ctas__pre-cta {
      text-align: end; }
    .ctas .ctas__item .ctas__cta {
      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.2em;
      margin-block: 0.7em; }
    .ctas .ctas__item > *:last-child {
      margin-top: auto; }

/* stylelint-disable no-invalid-position-at-import-rule */
@media (min-width: 42em) {
  .footer-top {
    --footer-top-display: flex;
    --menu-text-alighn: start; } }

.footer {
  background: conic-gradient(from 0.05turn at 15% -5%, var(--btn-grey), var(--color-tr) 65%); }
  .footer-top {
    display: var(--footer-top-display, box);
    justify-content: space-between;
    padding-top: var(--section-padding); }
    .footer-top .footer__nav {
      padding: var(--section-padding); }
      .footer-top .footer__nav-list {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        text-align: var(--menu-text-alighn, center); }
        .footer-top .footer__nav-list a {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          padding: 5px; }
          .footer-top .footer__nav-list a:hover {
            color: var(--main-red); }
          .footer-top .footer__nav-list a:focus {
            outline: none;
            color: var(--main-red); }
          .footer-top .footer__nav-list a:focus-visible {
            outline: 2px solid var(--main-red);
            outline-offset: 2px; }
    .footer-top .footer__actions {
      padding: var(--section-padding); }
      .footer-top .footer__actions-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: var(--menu-text-alighn, center); }
        .footer-top .footer__actions-list a {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          padding: 5px; }
          .footer-top .footer__actions-list a:hover {
            color: var(--main-red); }
          .footer-top .footer__actions-list a:focus {
            outline: none;
            color: var(--main-red); }
          .footer-top .footer__actions-list a:focus-visible {
            outline: 2px solid var(--main-red);
            outline-offset: 2px; }
    .footer-top .footer__contacts {
      padding: var(--section-padding);
      text-align: var(--menu-text-alighn, center); }
      .footer-top .footer__contacts .footer__address {
        margin-bottom: var(--section-padding); }
        .footer-top .footer__contacts .footer__address > * {
          padding: 5px 0; }
        .footer-top .footer__contacts .footer__address a {
          text-decoration: none;
          color: inherit;
          text-shadow: inherit; }
          .footer-top .footer__contacts .footer__address a:hover {
            color: var(--main-red); }
          .footer-top .footer__contacts .footer__address a:focus {
            outline: none;
            color: var(--main-red); }
          .footer-top .footer__contacts .footer__address a:focus-visible {
            outline: 2px solid var(--main-red);
            outline-offset: 2px; }
      .footer-top .footer__contacts .footer__social {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center; }
        .footer-top .footer__contacts .footer__social-item {
          display: block;
          width: 50px;
          height: 50px;
          overflow: hidden; }
          .footer-top .footer__contacts .footer__social-item:not(:last-child) {
            margin-right: var(--section-padding); }
          .footer-top .footer__contacts .footer__social-item a {
            display: block;
            color: inherit; }
            .footer-top .footer__contacts .footer__social-item a:hover {
              color: var(--main-red); }
            .footer-top .footer__contacts .footer__social-item a:focus {
              outline: none;
              color: var(--main-red); }
          .footer-top .footer__contacts .footer__social-item svg {
            display: block;
            width: 50px;
            height: 50px;
            fill: currentcolor; }
  @media (min-width: 26em) {
    .footer .footer__legal {
      --legal-display: flex; } }
  .footer .footer__legal {
    background: conic-gradient(from 270deg at 35% 110%, var(--main-text-color), var(--dark-bgc) 180deg);
    color: var(--light-text-color); }
    .footer .footer__legal-list {
      margin: 0;
      padding: var(--section-padding);
      list-style: none;
      display: var(--legal-display, block);
      justify-content: end; }
      .footer .footer__legal-list .footer__legal-item {
        text-align: end; }
        .footer .footer__legal-list .footer__legal-item a {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          margin-left: 1em;
          padding: 3px; }
          .footer .footer__legal-list .footer__legal-item a:hover {
            color: var(--yellow); }
          .footer .footer__legal-list .footer__legal-item a:focus {
            outline: none;
            color: var(--yellow); }
          .footer .footer__legal-list .footer__legal-item a:focus-visible {
            outline: 2px solid var(--yellow);
            outline-offset: 2px; }
