{{ with .Site.GetPage "/certificates" }}
<section class="certificates">
    <div class="certificates__top">
        <div class="certificates__logo">
            <svg><use xlink:href="#logo-min"></use></svg>
        </div>
        <div class="certificates__text">
            {{ .Content }}
        </div>
    </div>

    <ul class="certificates__list">
        {{ $images := .Resources.ByType "image" }}
        {{ range .Pages.ByWeight }}
        {{ $certimg := $images.GetMatch .Params.cert }}
        <li class="certificates__item cert">
            <h3 class="cert__title">{{ .Title }}</h3>
            {{ with $certimg }}
            <div class="cert__img">
                {{ partial "img-dialog" . }}
            </div>
            {{ end }}
            <div class="cert__content">
                {{ .Content }}                
            </div>
            {{ if .Params.logos }}
            <div class="cert__logos">
                {{ range .Params.logos }}
                <div class="cert__logos-item">
                    {{ $logo := $images.GetMatch . }}
                    <img src="{{ $logo.RelPermalink }}" alt="icon">
                </div>
                {{ end }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}