{{ with .Site.GetPage "/certificates" }}
<section class="certificates">
    <div class="certificates__top">
        <div class="certificates__logo">
            <svg><use xlink:href="#logo-min"></use></svg>
        </div>
        <div class="cerificates__text">
            {{ .Content }}
        </div>
    </div>

    <ul class="certificates__list">
        {{ $photos := .Resources.ByType "image" }}
        {{ range .Pages.ByWeight }}
        <li class="certificates__item cert">
            <div class="cert__title">{{ .Title }}</div>
            <div class="cert__img">
                {{ $certimg := $photos.GetMatch .Params.cert }}
                {{ with $certimg }}
                {{/*  {{ $img := .Resize "220x webp text" }}  */}}
                {{/*  <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" loading="lazy">  */}}
                {{ partial "img-dialog" . }}
                {{ end }}
            </div>
            <div class="cert__content">
                {{ .Content }}                
            </div>
            {{ if .Params.logos }}
            <div class="cert__logos">
                {{ range .Params.logos }}
                — {{ . }} — 
                {{ end }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}