
<div class="main">
    <div class="main__bg">
        <!-- We wait background block here -->
    </div>
    <section class="main__content">
        <h1>{{.Params.header }}</h1>
        <div class="main__content-text">
            {{ .Content }}
        </div>

        {{ with .Params.btns }}
        <ul class="main__btns">
            {{ range . }}
            <li class="main__btns-item">
                <a href="#{{ index . 1 }}" class="link-btn" data-style="{{ index . 2 }}">{{ index . 0 }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    
        {{ with .Params.cards }}
            {{ range . }}
            {{ $bgpath := (printf "images/%s" (index . 2))  | relURL }}
            <div class="main__card" style="background-image: url('{{ $bgpath }}')">
                <div class="main__card-rect" data-color="{{ index . 1 }}"></div>
                <div class="main__card-text">{{ index . 0 }}</div>                
            </div>
            {{ end }}
        {{ end }}
    </section>
</div>