{{ define "main" }}
<main>
    <div class="width-wrapper">
        {{ partial "main/main.html"  . }}
    </div>
    {{ partial "separator" }}

    <div class="width-wrapper">
        {{ partial "main/courses.html"  . }}
    </div>
    {{ partial "separator" }}
    
    <div class="width-wrapper">
        {{ partial "main/modules.html"  . }}
    </div>
    {{ partial "separator" }}
    
    <div class="width-wrapper"> // TODO: add styles
        {{ partial "main/financing.html" . }}
    </div>
    {{ partial "separator" }}
    
    <div class="wrapper"> // TODO: add styles
        {{ partial "main/job-opportunities.html" . }}
    </div>
    {{ partial "separator" }}
    
    <div class="width-wrapper">
        {{ partial "main/start-now.html" . }}
    </div>
    {{ partial "separator" }}

    <div class="wrapper"> // TODO: add styles
        {{ partial "main/certificates.html" . }}
    </div>
    {{ partial "separator" }}
        
    <div class="width-wrapper"> // TODO: add styles
        {{ partial "main/when-done.html" . }}
    </div>
    {{ partial "separator" }}
    
    <div class="width-wrapper">
        {{ partial "main/our-team.html" . }}
    </div>
    {{ partial "separator" }}
    <div class="width-wrapper">
        {{ partial "main/ctas.html" . }}
    </div>
</main>
{{ end }}