{{ define "main" }}
<main>
    <div class="wrapper">
        {{ partial "main/main.html"  . }}
        {{ partial "main/courses.html"  . }}
        {{ partial "main/modules.html"  . }}
        
        {{ partial "main/financial-option.html" }}
        
        {{ partial "main/job-opportunities.html" . }}
        {{ partial "main/start-now.html" . }}
        {{ partial "main/certificates.html" . }}
        
        {{ partial "main/success-stories.html" }}
    </div>
    {{ partial "separator" }}
    <div class="width-wrapper">
        {{ partial "main/our-team.html" . }}
    </div>
    {{ partial "separator" }}
    <div class="width-wrapper">
        {{ partial "main/ctas.html" . }}
    </div>
    {{ partial "svg-icons" }}
</main>
{{ end }}