.team {
    --section-logo-size: 82px;

    padding: var(--section-padding);

    &__header {
        display: flex;
        gap: var(--section-padding);
    }

    &__logo {
        width: var(--section-logo-size);
        height: var(--section-logo-size);
        flex-shrink: 0;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: var(--section-padding);
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
