<div class="test">
    {{ $name := index (split . ".") 0 }}
    <button type="button" onclick="window.myDialog{{ $name | safeJS }}.showModal();">
        <div>Click to open — {{ $name }}</div>
        {{ $img := .Resize "220x webp text" }}
        <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" loading="lazy">
    </button>
    <dialog id="myDialog{{ $name }}" style="padding: 0">
        {{ $img := .Resize "560x webp text" }}
        <img src="{{ $img.RelPermalink }}"
            width="{{ $img.Width }}" height="{{ $img.Height }}"
            loading="lazy" style="width: 100%; height: 100%"
        >
        <form method="dialog">
            <button>Close</button>
        </form>
    </dialog>
</div>