.main {
    @media (min-width: 52em) {
        .main__content {
            --main-display: grid;
            --main-areas:
                "hdr1 hdr1 hdr1 .   "
                ".    img1 cont cont"
                "img2 img1 cont cont"
                "img2 .    btns .   "
                "img2 img3 btns img4"
                ".    img3 .    img4";
        }

        .main__card {
            --card-flex-dir: column-reverse;
            --card-justify: flex-start;
            --margin-00: 0;
            --margin-03: -40px 0 0 -26px;
            --margin-04: -70px 0 20px 0;
            --card-ratio: auto;
        }
    }

    @import "main__content";
}
