.job-opportunities {
    --num-box-size: 76px;

    padding: var(--section-padding);

    &__top {
        display: flex;
        flex-wrap: wrap;
        gap: var(--section-padding);
        align-items: baseline;

        h2 {
            font-size: 2.2em;
            flex: 1 1 340px;
        }

        &--text {
            flex: 3 1 340px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-auto-rows: 1fr;
        gap: var(--section-padding);
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: var(--section-padding);
        padding-bottom: var(--num-box-size);
        border: 1px solid var(--main-text-color);
        border-radius: 2px;
        color: var(--main-red);

        .link-btn {
            margin-top: auto;
        }

        .job-opportunities__item-number {
            position: absolute;
            bottom: 0;
            left: 0;
            height: var(--num-box-size);
            width: var(--num-box-size);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-red);
            border-top-right-radius: 3px;
            font-size: 2em;
            color: var(--light-text-color);
        }

        &--blue {
            color: var(--blue);

            .job-opportunities__item-number {
                background-color: var(--blue);
            }
        }

        &--green {
            color: var(--green);

            .job-opportunities__item-number {
                background-color: var(--green);
            }
        }

        &--grey {
            color: var(--btn-grey);

            .job-opportunities__item-number {
                background-color: var(--btn-grey);
            }
        }

        .job-opportunities__item-bgpic {
            position: absolute;
            inset: 0 0 0 0;
            background-color: var(--btn-grey);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
