@media (min-width: 42em) {
    --top-right-display: flex;
}

.header-top {
    height: var(--header-top-height);
    color: var(--light-text-color);
    background-color: var(--main-red);

    .header-top__block {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__announce {
        padding: 0 var(--section-padding);
        overflow: hidden;

        .announce__list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .announce__item:not(:first-child) {
            display: none;
        }
    }

    &__account {
        display: var(--top-right-display, none);
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: var(--section-padding);
        margin-left: auto;
    }

    &__langs {
        display: var(--top-right-display, none);
    }
}
