.courses {
    padding: var(--section-padding);

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        gap: var(--section-padding);
        margin-block: var(--section-padding);
    }

    .courses__item {
        display: flex;
        flex-direction: column;
        padding: var(--section-padding);
        border: 2px solid var(--main-red);
        border-radius: 2px;
        background-color: var(--light-text-color);

        &-status {
            // float: right;
            align-self: flex-end;
            padding: 3px 5px 2px;
            color: var(--light-text-color);
            background-color: var(--main-red);
            border-radius: 2px;
        }

        &.courses__item--now {
            color: var(--light-text-color);
            background-color: var(--main-red);

            .courses__item-status {
                color: var(--main-text-color);
                background-color: var(--light-text-color);
            }
        }

        & > *:last-child {
            margin-top: auto;
        }
    }

    &__final-text {
        width: calc(min(760px, 100%));
        margin-inline: auto;
        padding: var(--section-padding);
        background-color: var(--yellow-tr);
        border-radius:4px;
    }
    
    &__final-btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: var(--section-padding);
        gap: var(--section-padding);
    }

    // Main content block
    @import "main__content";
}
