{{ $linkPhone := replace .Site.Params.Phone " " ""}}
<div class="footer__contacts">
    <div class="footer__logo">
        <div>{{ partial "svg-logo" }}</div>
    </div>
    <div class="footer__address">
        <div>{{ .Site.Params.logoName }}</div>
        <div>{{ .Site.Params.address }}</div>
        <div><a href="tel:{{ $linkPhone }}">{{ .Site.Params.phone }}</a></div>
        <div><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></div>
    </div>
    <ul class="footer__social">
        {{ range .Site.Params.Social }}
        <li class="footer__social-item">
            <a href="{{ .Link | absURL }}" target="_blank">
                <svg width="50px" height="50px">
                    <use xlink:href="#icon-{{ .iconName }}"></use>
                </svg>
            </a>            
        </li>
        {{ end }}
    </ul>
    {{ partial "social-icons" }}
</div>